<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | General Form Elements</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <% include include/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<% include include/header %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    

    
    
  </div>
  <!-- /.content-wrapper -->
 <% include include/footer %>
</body>
</html>