<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">      
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="/admin/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>          
          </a>
          
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>             
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/user/create"><i class="fa fa-circle-o"></i> Create</a></li>
            <li><a href="/admin/user/list"><i class="fa fa-circle-o"></i>List</a></li>                         
          </ul>
        </li>
        
        
        
        
       
       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
